
.App {
  color: white;
  height: 100vh;
  padding: 20px;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
  height: 30vh;
}

.header_contact{
  display: block;
  font-style: italic;
  color: #336633;
}

.main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr) ;
  row-gap: 20px;
}

.App-skills{
  margin: 15px 0;
}