@import './variables.scss';
@import '../index.scss';

.App {
  display: grid;
  // grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
  color: $font_color_main;
  height: 100vh;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: $font_color_main;
  margin-bottom: 20px;
  height: 30vh;
}

.header_contact{
  display: block;
  font-style: italic;
  color: $font_color_second;
}

.main{
  
}

.App-skills{
  margin: 15px 0;
}