@import './variables.scss';
@import '../index.scss';

// general
.subtitle{
  text-transform: capitalize;
}
.margin_elements{
  margin: 15px 0;
}
.list{
  list-style: none;
  color: $font_color_second;
  margin-top: 13px;
}

.style-none{
  text-decoration: none;
  color: $font_color_second;
}
.style-none:hover{
  color: $font_color_main;
  text-decoration:underline;
}

.link{
  color: orange;
}

// Page
.App {
  display: grid;
  row-gap: 20px;
  height: 100vh;
  padding: 20px;
  font-size: calc(7px + 2vmin);
  &_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    margin-bottom: 20px;
    
  }
}
//Main
.cv {
  font-size: 4em;
  font-weight: bold;
}

.main_contact{
  display: block;
  font-style: italic;
  font-size: calc(8px + 2vmin);
  color: $font_color_second;
}

//Footer

footer{
  font-size: .8em;
  text-align: right;
}

@media all and (min-width: 600px){
  .App{
    padding-left: 40px;
    padding-right: 40px;

  }
  //Skills
  .wrap_skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
}
@media all and (min-width: 768px){
  .App{
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media all and (min-width: 1200px){
  .App{
    padding-left: 150;
    padding-right: 150;
  }
}
